:root {
  --link-color: #212121;
  --heading-font-family: "Roboto", sans-serif;
  --font-family: "Raleway", sans-serif;
  --highlight-color: #2196f3;
}
.global-header {
  background-color: #ffffff;
  font: var(--heading-font-family);
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 1200px;
  justify-content: space-between;
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  margin-left: 200px;
  margin-right: 200px;
  border-bottom: 1px solid #ececec;
  
  .logo {
    
    width: 154px;
    height: 31px;
    font-family: var(--font-family);
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
    text-decoration: none;
   
    
    .logo-first {
      color: #2196f3;
      font-family: var(--font-family);
      font-weight: 700;
    }
    .logo-second {
      color: #000;
      margin-left:-7px;
    }
    
  }
}
.logo-first {
  color: #2196f3;
  font-family: var(--font-family);
      font-weight: 700;
}
.logo-third{
  color:#fff;
}
.logo-second {
  color: #000;
}
span{
  align-items: center;
  width: 154px;
  height: 31px;
  font-family: var(--font-family);
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  text-decoration: none;
}
.global-header .main-navigation ul{
  display: flex;
  width: 150px;
  justify-content: space-evenly;
  align-items: center;
  gap:30px;
}
.global-header .main-navigation a:hover {
  color: #2196f3;
}
.nav-container{
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  margin-left: 100px;
}
/* a:hover {
  text-decoration: none;
  font-size: 18px;
  width: 60px;
  height: 42px;
  top: 32px;
  left: 453px;
  font: var(--heading-font-family);
  font-weight: 500;
  size: 14px;
} */
body{
  margin-left:0px;
  margin-right:0px ;
}

h1 {
  color: #fff;
  text-align: center;
  font-family: "Roboto";
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
  
}
h2 {
  color: #212121;
  text-align: center;
  font-family: "Roboto";
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
  margin-top: 150px;
}

h3 {
  color: #212121;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
h4 {
  color: #212121;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
}
h5 {
  color: #757575;
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}
p {
  color: #757575;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}
h6{
 color: #212121;
font-family: "Roboto";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 36px; 
letter-spacing: 1.08px;
}
.sectionone {
  background: #2f303a;
  text-align: center;
  box-sizing: border-box;
  padding: 200px 450px 250px 450px;
  
  
}
.button-request {
  background-color: #2196f3;
  color: #ffffff;
  width: 200px;
  height: 50px;
  top: 430px;
  left: 700px;
  margin-top: 20px;

}
.button-request:hover {
  color: #ffffff;
  background-color: #188ce8;
}
a{
    text-decoration:none;
    color: #000;

}
ul {
  list-style-type: none;
  color:#fff;
}
.contact {
  color: #212121;
  font: "Roboto";
  font-weight: 500;
  width: 59px;
  height: 16px;
 
}

footer {
  background-color: #2f303a;
  text-decoration: none;
}
address {
  color: #fff;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.42px;
  box-sizing: border-box;
  padding: 50px;
  margin:0px;

}
.info {
  color: #757575;
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  justify-content:space-between;
  margin-right: 100px;
}

/* .global-header{
    width: 1600px;
    background-color: #ECECEC;;
} */
.current {
  color: var(--highlight-color);
}
.buttons {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.85px;
  color: #212121;
  background-color: #f5f4fa;
  height: 26px;
  top: 174px;
  left: 614px;
  cursor: pointer;
  font-family: inherit;
  border: none;
  min-width: 100px;
 
  
}
.buttons:hover,
.buttons:focus {
  color: #ffffff;
  background-color: #2196f3;
  
}
.section-second{
  display: flex;
  align-items: center;
  gap:30px;
  margin-left:215px;
  margin-right: 215px;
  margin-top: 150px;
}
.section-third{
  justify-content: center;
  display: flex;
  align-items: center;
  gap:30px;
  margin-top: 50px;
  
}
.section-fourth{
  background-color: #F5F4FA;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:30px;
  box-sizing: border-box;
  padding: 150px;
  margin:0px;
}
.info-container{
  display: flex;
  
}
.images{
  padding-top: 94px;
  margin: auto;
  width: 1200px;
  display: flex;
  column-gap: 30px;
  
}
.portofolio{
  margin: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
}
.portofolio-card{
  width: 370px;
  background-color: #fff;
}
.portofolio-text{
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  border-bottom: 1px solid #eee;
}
.portofolio-text span{
  margin-bottom: 4px;
}
.portofolio-text h5{
  margin-bottom: 20px;
}
.buttons-portofolio{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 516px;
  margin: auto;
  column-gap: 8px;
}